/* styleheet, external css */

/* color styles for the entire page */
body {
    background-color: #23272A;
    color: white;
}

/* color, background color, text styles, borders for html elements */
header {
    color: rgb(0, 174, 255);
    text-align: center;
    border-color: aquamarine;
    border-style: groove;
    border-width: 4mm;
}

a {
    color: hsl(183, 54%, 50%);
}

h2 {
    color: rgb(255, 119, 119);
    text-decoration: underline;
    text-align: center;
}

h3 {
    color: rgb(86, 252, 230);
    text-decoration: overline;
}

h5 {
    color: rgb(100, 172, 255);
}

details {
    color: coral;
}

form {
    background-color: dimgray;
}

/* border and padding/margin with units for sections and form */
section {
    border-color: aqua;
    border-radius: 1cm;
    border-style: ridge;
    border-width: 0.05in;
    padding: 10px 10px 50px 10px;
    margin: auto;
}

#section {
    margin-top: 5vh;
    margin-bottom: 5vw;
    margin-left: 1rem;
    margin-right: 2ex;
}

.form {
    margin: 50px 25px 50px 25px;
}

fieldset {
    padding-top: 10px;
    padding-left: 500px;
    padding-bottom: 10px;
    padding-right: 500px;
}

/* display, position, sizing properties */
p {
    display: inline;
}

details {
    margin-top: 20px;
}

.ucsd {
    display: block;
}

nav {
    position: fixed;
}

img, video {
    position: relative;
}

li {
    width: 100px;
    height: 75px;
}

section {
    max-width: 1500px;
    max-height: 1500px;
}