/* styleheet, external css */

/* universal selector for font */
* {
    font-family: 'Raleway', sans-serif;
}

/* color styles for the entire page */
body {
    background-color: #23272A;
    color: white;
}

/* color, background color, text styles, borders for html elements */
header {
    color: rgb(0, 174, 255);
    text-align: center;
    border-color: aquamarine;
    border-style: groove;
    border-width: 4mm;
}

a {
    color: hsl(183, 54%, 50%);
}

h2 {
    color: rgb(255, 119, 119);
    text-decoration: underline;
    text-align: center;
}

h3 {
    color: rgb(86, 252, 230);
    text-decoration: overline;
}

h5 {
    color: rgb(100, 172, 255);
}

details {
    color: coral;
    display: flex;
    align-self: center;
}

form {
    background-color: dimgray;
}

/* border and padding/margin with units for sections and form */
section {
    border-color: aqua;
    border-radius: 1cm;
    border-style: ridge;
    border-width: 0.05in;
    padding: 10px 10px 50px 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#section {
    margin-top: 5vh;
    margin-bottom: 5vw;
    margin-left: 1rem;
    margin-right: 2ex;
}

.form {
    margin: 50px 25px 50px 25px;
}

fieldset {
    padding-top: 10px;
    padding-left: 500px;
    padding-bottom: 10px;
    padding-right: 500px;
}

/* display, position, sizing properties */
p {
    display: inline;
}

details {
    margin-top: 20px;
}

.ucsd {
    display: block;
}

nav {
    position: fixed;
}

img, video {
    position: relative;
}

li {
    width: 100px;
    height: 150px;
}

section {
    max-width: 1500px;
    max-height: 1500px;
}

/* pseudo-classes for button and links*/
button:active {
    background-color: darkorange;
}

a:hover {
    color: greenyellow;
}

/* media query if viewport width < 800px */
@media (max-width: 800px) {
    body {
        background-color: darkblue;
    }
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 20px auto 20px; 
    gap: 25px 30px;
}

.item {
    border: 1px solid white;
}

/* selectors */
[class |= "head"] {
    background-color: paleturquoise;
}

p:hover, span:hover, li:hover {
    color: goldenrod;
}

div div {
    font-family:'Franklin Gothic Medium', sans-serif;
}

h3 + h5 {
    color: lightgreen
}

details > h3 {
    color: tan;
}

h2 ~ fieldset {
    color: lemonchiffon;
}

p.name {
    font-size: larger;
    font-weight: 900;
}